page-contact {

}
.body_cor{
  background: rgb(1, 183, 255);
}
#img_trofeu{
  width: 20%;
  margin-left: 40%;
  padding-top: 5%;
}
#img_star{
  width: 15%;
  margin-left: 0%;
  padding-top: 5%;

}
#lista_rank{
  padding-left: 10%;
  margin: 10%;
}
#img_faixa{


}
